aiohttp
aiosignal
aiosqlite
async-timeout
click
colorlog
covid
dnspython==2.3.0
environs
ffmpeg-python
frozenlist
gdshortener>=1.0.1
GitPython
googletrans
gTTS
h11
h2
hpack
httpcore==1.0.2
httpx
Pillow>=10
pydantic>=1.10, <2
pymongo
Pyrogram
python-dotenv
qrcode
requests
TgCrypto
yt-dlp
