aiohttp
aiosignal
aiosqlite
aiofiles
async-timeout
cairosvg
cffi
click
colorlog
colorama
covid
convopyro
dnspython==2.3.0
environs
ffmpeg-python
frozenlist
GitPython
deep_translator
detectlanguage
gTTS
h11
h2
hpack
httpcore==1.0.4
httpx
Pillow>=10
pydantic>=1.10, <2
pymongo
Pyrogram
python-dotenv
py-carbon
qrcode
requests
replicate
TgCrypto
yt-dlp
spotipy
